<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Новостная лента</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>

<tbody>
<tr th:if="${news.empty}">
    <td colspan="2"> No Books Available </td>
</tr>
<tr th:each="item : ${news}">
    <td><span th:text="${item.getTitle()}"> Title </span></td> </br>
    <td><a href="@{item.getLinks()}"><span th:text="${item.getLinks()}"> Links </span></a></td> </br>
</tr>
    </br>
</tbody>

</body>
</html>